
button.link {
    width: 15vw;
    height: 5vh;
    text-align: left;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 1vw;

    transition: .3s ease;
    &:hover, &.active {
        background-color: rgba(31, 31, 31, 0.406);
    }
}