
$wolfGrey: #9d9d9d;

$gunMetal: rgb(70, 71, 73);
$gunMetalAlpha: rgba(31, 31, 31, 0.228);

$charCoal: rgb(45, 46, 48);
$fireRed: rgb(255, 89, 0);
$offWhite: rgb(230, 230, 230);

@mixin flexRowCenter($row: true, $align: true) {
    display: flex;
    @if $row {
        flex-direction: row;
    } @else {
        flex-direction: column;
    }
    @if $align {
        align-items: center;
    } @else {
        align-items: none;
    }
}

@mixin slickButtons {
    color: $wolfGrey;
    font-size: 2.5vw;

    background: transparent;
    border: transparent;

    transition: .3s ease;
}

button.link {
    @include flexRowCenter(true, true);
    justify-content: space-between;

    padding: 0 2vw;

    width: 15vw;
    height: 5vw;

    font-size: 2em;

    color: $charCoal;

    background: transparent;
    border: transparent;

    transition: .3s ease;

    &:hover, &:active {
        color: $offWhite;
        background-color: $fireRed;
    }
}

div.accordion {
    width: 15vw;
    background-color: $offWhite;
}

button.navBar {
    margin: 0;
    width: 10vw;

    @include slickButtons();

    &:hover {
        color: white;
    }
}

html {
    display: flex;
    margin: 0;

    color: #9d9d9d;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: url('/assets/images/statFireBackground.jpg');

    body {
        margin: 0;
    }

    div#titleBar {
        @include flexRowCenter($align: true);
        justify-content: space-evenly;
        position: sticky;

        top: 0;
        width: 100vw;
        height: 10vh;
        z-index: 100;

        background-color: $gunMetal;

        button#title {
            margin: 0;
            padding: 0;

            @include slickButtons();

            .fa-fire { 
                color: $fireRed;
            }
            
            &:hover {
                color: white;
            }
        }

        div#nav {
            @include flexRowCenter($align: true);
        }

        button#login {
            @include slickButtons();
        }
    }

    div#searchDiv {
        @include flexRowCenter($align: true);
        justify-content: center;
        position: sticky;
        top: 10vh;

        width: 100vw;
        height: 10vh;
        background-color: $charCoal;

        input#searchBar {

            width: 40vw;
            height: 8vh;

            color: $wolfGrey;
            font-size: 2em;

            border: none;
            border-bottom: 2px solid $wolfGrey;
            background-color: transparent;
        }
    }

    div#mainWrapper {
        display: flex;
        flex-direction: row;

        div#leftPanel {
            width: 15vw;
            height: 90vh;

            background: linear-gradient($fireRed, transparent);

        }

        div#content {
            @include flexRowCenter($row: false, $align: true);
            justify-content: space-evenly;

            width: 70vw;

            h1 {
                font-size: 5em;
                color: white;
                text-shadow: 0px 0px 10px $gunMetalAlpha;
            }

            div#plots {
                width: 70vw;
                height: 65vh;
                background-color: $offWhite;
                box-shadow: 0 0 20px 5px $gunMetalAlpha;
            }

            div#new {
                @extend div#plots;
            }
        }

        div#rightPanel {
            @extend #leftPanel;
        }
    }

    div#footer {
        @include flexRowCenter($row: true, $align: true);

        width: 100vw;
        height: 50vh;
        
        background-color: $charCoal;

        button {
            width: 100vw;
            @include slickButtons();
        }
    }
}